################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AkkaBootcamp/DoThis/bin/Debug
/AkkaBootcamp/DoThis/obj/Debug
/AkkaBootcamp/DoThis/packages
*.suo
/AkkaBootcamp/Unit-2
/AkkaBootcamp/Unit-3/lesson1
/AkkaBootcamp/Unit-3/lesson2
/AkkaBootcamp/Unit-3/lesson3
/AkkaBootcamp/Unit-3/lesson4
/AkkaBootcamp/Unit-3/lesson5
/AkkaBootcamp/Unit-3
